<!-- begin action -->
<div class="action">
	<div class="action__info">
		<div class="action__label">Action:</div>
		<div class="action__value">2 weeks call</div>
	</div>
	<div class="action__container">
		<div class="action__content">
			<div class="action__content-in js-toggle">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ullam aperiam a quae qui eveniet, doloremque praesentium facilis fugiat molestiae accusamus laboriosam libero odio sapiente sequi ipsam repellat deleniti atque cum minima quas aut beatae perferendis voluptates. Atque doloribus perspiciatis maxime, quisquam esse! Debitis distinctio modi vel fugit accusantium perspiciatis quos nihil, culpa accusamus eveniet quo! Excepturi voluptatem minus, voluptates optio vero tenetur. Maiores odio, nostrum aliquam necessitatibus accusamus totam sit ad deserunt enim nihil tenetur dignissimos voluptates saepe modi amet temporibus sapiente, ipsum provident. Facere culpa, nesciunt possimus sunt quis excepturi atque beatae sapiente officia expedita reiciendis quo enim.</p>
				<a href="#" class="link-more action__link-more js-toggle-control"><span class="link-more__visible">More</span><span class="link-more__hidden">Less</span></a>
			</div>
		</div>
	</div>
</div>
<!-- end action -->