<!-- begin modal -->
<div class="modal" data-modal="alert">
	<div class="modal__overlay" data-modal-close></div>
	<div class="modal__container" data-modal-container>
		<div class="modal__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, saepe.</div>
		<div class="modal__footer">
			<button class="btn btn_red modal__btn" data-animation="ripple" data-modal-close>Cancel</button>
			<button class="btn btn_primary modal__btn" data-animation="ripple" data-modal-close>OK</button>
		</div>
	</div>
</div>
<!-- end modal -->