<!-- begin modal -->
<div class="modal" data-modal="select-store">
	<div class="modal__overlay" data-modal-close></div>
	<div class="modal__container" data-modal-container>
		<button class="modal__close" data-modal-close>
			{{mixins.icon('close')}}
		</button>
		<div class="modal__header">
			<div class="modal__title">Please select store</div>
		</div>
		<div class="modal__body">
			<div class="select">
				<span class="select__arrow"></span>
				<select class="select__field is-error">
					{% for item in [ 'Store 1', 'Store 2', 'Store 3', 'Store 4' ] %}
						<option value="{{item}}">{{item}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="error-message is-visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, itaque!</div>
		</div>
		<div class="modal__footer">
			<button class="btn btn_red modal__btn" data-animation="ripple" data-modal-close>Cancel</button>
			<button class="btn btn_primary modal__btn" data-animation="ripple" data-modal-close>OK</button>
		</div>
	</div>
</div>
<!-- end modal -->