.icon-angle-left {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logout-mark {
  width: 1em;
  height: 1em;
  fill: initial;
}
